<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="description" content="Fabrx">
<meta name="keywords" content="Fabrx">
<meta name="author" content="Fabrx">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Fabrx - Catalog Template</title>
<link href="../assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
<!-- Fabrx External CSS -->
<link href="../assets/css/addSlider.min.css" rel="stylesheet" type="text/css" media="all">
<link href="../assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all">
<link href="../assets/css/font-fileuploader.min.css" rel="stylesheet" type="text/css" media="all">
<link href="../assets/css/jquery.fileuploader.min.css" rel="stylesheet" type="text/css" media="all">
<link href="../assets/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" type="text/css" media="all">
<link href="../assets/css/flatpickr.min.css" rel="stylesheet" type="text/css" media="all">
<link href="../assets/css/fabrx-styles.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>

<!-- Fabrx Catalog, Fabrx Templates, Bg Black 100, Position Relative, Vh 100 -->
<section class="fabrx-catalog fabrx-templates bg-black-100 position-relative vh-100">
  <!-- Fabrx Header, Header Absolute, P 0, Mb 0, Mb Md 4 -->
  <header class="fabrx-header header-absolute p-0 mb-0 mb-md-4">
    <nav class="navbar navbar-expand-lg has-header-inner pl-4">
      <a class="navbar-brand" href="#0">
        <img src="../assets/images/brand-icons/brand-icon-16.png" alt="Lesser">
      </a>
      <div class="fabrx-header-links ml-auto">
        <a href="#0" class="ml-0 ml-md-4 btn-warning-light fabrx-grid-icon d-flex align-items-center justify-content-center">
          <svg id="Icon_Dot_Menu_02" data-name="Icon/Dot Menu 02" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24">
            <path data-name="Icon Color" d="M12,14.5A2.5,2.5,0,1,1,14.5,17,2.5,2.5,0,0,1,12,14.5Zm-12,0A2.5,2.5,0,1,1,2.5,17,2.5,2.5,0,0,1,0,14.5Zm12-12A2.5,2.5,0,1,1,14.5,5,2.5,2.5,0,0,1,12,2.5ZM0,2.5A2.5,2.5,0,1,1,2.5,5,2.5,2.5,0,0,1,0,2.5Z" transform="translate(4 4)" fill="#3f3b3b"></path>
          </svg>
        </a>
      </div>
    </nav>
  </header>

  <!-- Owl Carousel, Owl Has Counter, Owl Disable Dots -->
  <div class="owl-carousel owl-has-counter owl-disable-dots" data-items="1" data-loop="true" data-nav="true" data-dots="true">
    <div class="item">
      <div class="row no-gutters">
        <div class="col-xl-9 col-lg-8">
          <div class="pr-2 pr-lg-5 vh-100">
            <img src="../assets/images/placeholders/placeholder-49.png" class="mw-100 h-100" alt="Placeholder">
          </div>
        </div>
        <div class="col-xl-3 col-lg-4">
          <div class="d-flex flex-wrap align-items-end h-100">
            <div class="p-4 p-sm-5 mb-5 mt-auto">
              <h3 class="font-weight-regular text-white">The Green Model</h3>
              <p class="h4 font-weight-light text-white mb-4">The Minimoog Model D ® is not currently in production, but available units may still remain at select dealers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row no-gutters">
        <div class="col-xl-9 col-lg-8">
          <div class="pr-2 pr-lg-5 vh-100">
            <img src="../assets/images/placeholders/placeholder-49.png" class="mw-100 h-100" alt="Placeholder">
          </div>
        </div>
        <div class="col-xl-3 col-lg-4">
          <div class="d-flex flex-wrap align-items-end h-100">
            <div class="p-4 p-sm-5 mb-5 mt-auto">
              <h3 class="font-weight-regular text-white">The Green Model</h3>
              <p class="h4 font-weight-light text-white mb-4">The Minimoog Model D ® is not currently in production, but available units may still remain at select dealers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row no-gutters">
        <div class="col-xl-9 col-lg-8">
          <div class="pr-2 pr-lg-5 vh-100">
            <img src="../assets/images/placeholders/placeholder-49.png" class="mw-100 h-100" alt="Placeholder">
          </div>
        </div>
        <div class="col-xl-3 col-lg-4">
          <div class="d-flex flex-wrap align-items-end h-100">
            <div class="p-4 p-sm-5 mb-5 mt-auto">
              <h3 class="font-weight-regular text-white">The Green Model</h3>
              <p class="h4 font-weight-light text-white mb-4">The Minimoog Model D ® is not currently in production, but available units may still remain at select dealers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Fabrx Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/html5.min.js"></script>
<script src="../assets/js/circle-progress.min.js"></script>
<script src="../assets/js/flatpickr.min.js"></script>
<script src="../assets/js/jquery.mCustomScrollbar.min.js"></script>
<script src="../assets/js/bootstrap-4-autocomplete.min.js"></script>
<script src="../assets/js/jquery.fileuploader.min.js"></script>
<script src="../assets/js/Obj.min.js"></script>
<script src="../assets/js/addSlider.min.js"></script>
<script src="../assets/js/owl.carousel.min.js"></script>
<script src="../assets/js/jquery.waypoints.min.js"></script>
<script src="../assets/js/jquery.countup.min.js"></script>
<script src="../assets/js/masonry.min.js"></script>
<script src="../assets/js/jquery.sticky.js"></script>
<script src="../assets/js/jquery.malihu.PageScroll2id.min.js"></script>
<script src="../assets/js/fabrx-scripts.js"></script>
</body>
</html>