<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="description" content="Fabrx">
<meta name="keywords" content="Fabrx">
<meta name="author" content="Fabrx">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Fabrx - Commerce Template</title>
<link href="../assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
<!-- Fabrx External CSS -->
<link href="../assets/css/addSlider.min.css" rel="stylesheet" type="text/css" media="all">
<link href="../assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all">
<link href="../assets/css/font-fileuploader.min.css" rel="stylesheet" type="text/css" media="all">
<link href="../assets/css/jquery.fileuploader.min.css" rel="stylesheet" type="text/css" media="all">
<link href="../assets/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" type="text/css" media="all">
<link href="../assets/css/flatpickr.min.css" rel="stylesheet" type="text/css" media="all">
<link href="../assets/css/fabrx-styles.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>

<!-- Fabrx Commerce, Fabrx Templates, Vh 100, Overflow Hidden -->
<section class="fabrx-commerce fabrx-templates vh-100">
  <!-- Fabrx Header, White Icon, Mb 0, Mb Md 4 -->
  <header class="fabrx-header white-icon mb-0 mb-md-4">
    <div class="container">
      <nav class="navbar navbar-expand-lg has-header-inner">
        <a class="navbar-brand" href="#0">
          <img src="../assets/images/brand-icons/brand-icon-16.png" alt="Lesser">
        </a>
        <div class="fabrx-header-links ml-auto">
          <a href="#0" class="mr-3 ml-3 ml-md-5">
            <svg data-name="Icon/Search" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
              <path data-name="Icon Color" d="M21.048,21.91a.738.738,0,0,1-.531-.207l-4.959-5.123a9.258,9.258,0,0,1-6.133,2.271,9.431,9.431,0,1,1,7.193-3.293l4.957,5.087a.8.8,0,0,1-.007,1.067A.736.736,0,0,1,21.048,21.91ZM9.426,1.514a7.931,7.931,0,1,0,7.912,7.912A7.921,7.921,0,0,0,9.426,1.514Z" transform="translate(1 1)" fill="#3f3b3b"></path>
            </svg>
          </a>
          <a href="#0" class="ml-0 ml-md-4">
            <svg id="Icon_Dot_Menu_02" data-name="Icon/Dot Menu 02" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
              <path data-name="Icon Color" d="M12,14.5A2.5,2.5,0,1,1,14.5,17,2.5,2.5,0,0,1,12,14.5Zm-12,0A2.5,2.5,0,1,1,2.5,17,2.5,2.5,0,0,1,0,14.5Zm12-12A2.5,2.5,0,1,1,14.5,5,2.5,2.5,0,0,1,12,2.5ZM0,2.5A2.5,2.5,0,1,1,2.5,5,2.5,2.5,0,0,1,0,2.5Z" transform="translate(4 4)" fill="#3f3b3b"></path>
            </svg>
          </a>
        </div>
      </nav>
    </div>
  </header>

  <!-- Row, No Gutters, Align Items Center -->
  <div class="row no-gutters align-items-center has-height">
    <div class="col-lg-6">
      <div class="fabrx-caption pr-0 pr-lg-5 text-white pt-4 pt-xl-0 pb-4 pb-xl-5 mt-2 mt-md-0 mb-xl-4">
        <h2 class="font-weight-regular mb-0">Mando Chair</h2>
        <p class="text-white pr-0 pr-lg-5">Identical component placement and through-hole design of a beloved 1970s Minimoog Model D</p>
        <div class="my-4 plan-price">
          <span class="h4 font-weight-light">$1,238</span>
        </div>
        <div class="pt-2">
          <a href="#0" class="btn btn-lg btn-warning-light">Cart</a>
          <a href="#0" class="btn btn-lg btn-outline-light ml-2 ml-sm-3">
            <span class="btn-text">Wishlist</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 28 28">
              <path data-name="Icon Color" d="M28,7.131A7.274,7.274,0,0,0,14,4.506,7.252,7.252,0,0,0,7.262,0,7.189,7.189,0,0,0,0,7.131v.525C0,15.006,14.525,24.5,14.525,24.5S28,15.006,28,7.656Z" transform="translate(0 2.333)" fill="#ffffff"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="fabrx-caption">
        <img src="../assets/images/placeholders/placeholder-45.png" alt="Placeholder">
      </div>
    </div>
  </div>
</section>

<!-- Fabrx Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/html5.min.js"></script>
<script src="../assets/js/circle-progress.min.js"></script>
<script src="../assets/js/flatpickr.min.js"></script>
<script src="../assets/js/jquery.mCustomScrollbar.min.js"></script>
<script src="../assets/js/bootstrap-4-autocomplete.min.js"></script>
<script src="../assets/js/jquery.fileuploader.min.js"></script>
<script src="../assets/js/Obj.min.js"></script>
<script src="../assets/js/addSlider.min.js"></script>
<script src="../assets/js/owl.carousel.min.js"></script>
<script src="../assets/js/jquery.waypoints.min.js"></script>
<script src="../assets/js/jquery.countup.min.js"></script>
<script src="../assets/js/masonry.min.js"></script>
<script src="../assets/js/jquery.sticky.js"></script>
<script src="../assets/js/jquery.malihu.PageScroll2id.min.js"></script>
<script src="../assets/js/fabrx-scripts.js"></script>
</body>
</html>