<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="description" content="Fabrx">
<meta name="keywords" content="Fabrx">
<meta name="author" content="Fabrx">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Fabrx - Service Templates</title>
<link href="../assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
<!-- Fabrx External CSS -->
<link href="../assets/css/addSlider.min.css" rel="stylesheet" type="text/css" media="all">
<link href="../assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all">
<link href="../assets/css/font-fileuploader.min.css" rel="stylesheet" type="text/css" media="all">
<link href="../assets/css/jquery.fileuploader.min.css" rel="stylesheet" type="text/css" media="all">
<link href="../assets/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" type="text/css" media="all">
<link href="../assets/css/flatpickr.min.css" rel="stylesheet" type="text/css" media="all">
<link href="../assets/css/fabrx-styles.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>

<!-- Fabrx Package Delivery, Fabrx Templates, Blue Dark, Vh 100 -->
<section class="fabrx-package-delivery fabrx-templates blue-dark vh-100">
  <div class="row no-gutters">
    <div class="col-lg-5">
      <div class="py-4 py-md-5 h-100">
        <div class="fabrx-caption pr-0 pr-lg-5 text-white d-flex flex-column h-100">
          <div class="my-4 my-xl-5">
            <a href="#0">
              <svg id="Icon_Arrows_Long_Left" data-name="Icon/Arrows/Long/Left" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                <path data-name="Icon Color" d="M-16.083,8.159H0V3.8H-16.083V-.568L-23.719,5.8l7.636,6.364Z" transform="translate(23.719 6.568)" fill="#ffffff"></path>
              </svg>
            </a>
          </div>
          <h3>Package Delivery</h3>
          <div class="d-flex flex-wrap mt-3">
            <div class="fabrx-chip fabrx-outline-light my-2 mr-2"><span>ID: 33452</span></div>
            <div class="fabrx-chip fabrx-outline-light my-2"><span>Dispatched</span></div>
          </div>
          <div class="text-secondary font-size-14 mt-3">Est. Arrival <span class="text-white ml-2">Monday 12th - 3:00pm</span></div>
          <ul class="list-unstyled delivery-steps mt-5">
            <li>
              <div class="steps-common away">
                <h6 class="mb-0">Home</h6>
                <p class="text-secondary font-size-14">354 5th Ave, NY, USA</p>
              </div>
            </li>
            <li>
              <div class="steps-common purple">
                <h6 class="mb-0">Bruce Lee</h6>
                <p class="text-secondary font-size-14">354 5th Ave, NY, USA</p>
              </div>
            </li>
          </ul>
          <div class="mt-auto">
            <a href="#0" class="btn btn-lg btn-primary">Cancel Delivery</a>
            <p class="font-size-14 text-white mt-3">
              <svg data-name="Icon/Alert Fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                <path data-name="Icon Color" d="M12,24A12,12,0,0,1,3.515,3.515,12,12,0,1,1,20.485,20.485,11.922,11.922,0,0,1,12,24Zm-.082-8.159a1.776,1.776,0,1,0,1.89,1.772A1.836,1.836,0,0,0,11.918,15.842ZM11.918,5a1.928,1.928,0,0,0-1.356.684A1.929,1.929,0,0,0,10.009,7.1l.419,4.439a2.808,2.808,0,0,0,1.981,2.382,1.224,1.224,0,0,1-.467.114h1.13a2.81,2.81,0,0,1-.662-.114,1.508,1.508,0,0,0,.881-1.134L13.828,7.1a1.934,1.934,0,0,0-.554-1.416A1.931,1.931,0,0,0,11.918,5Z" fill="#605F5F"></path>
              </svg>
              <span class="ml-1">Report an issue</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="text-right fabrx-min-height align-items-end position-relative vh-100">
        <img src="../assets/images/placeholders/placeholder-50.jpg" class="mw-100 h-100" alt="Placeholder">
        <a href="#0" class="btn btn-lg btn-black rounded-40 py-3 py-lg-4 px-4 px-lg-5 has-btn-manage">See Details</a>
      </div>
    </div>
  </div>
</section>

<!-- Fabrx Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/html5.min.js"></script>
<script src="../assets/js/circle-progress.min.js"></script>
<script src="../assets/js/flatpickr.min.js"></script>
<script src="../assets/js/jquery.mCustomScrollbar.min.js"></script>
<script src="../assets/js/bootstrap-4-autocomplete.min.js"></script>
<script src="../assets/js/jquery.fileuploader.min.js"></script>
<script src="../assets/js/Obj.min.js"></script>
<script src="../assets/js/addSlider.min.js"></script>
<script src="../assets/js/owl.carousel.min.js"></script>
<script src="../assets/js/jquery.waypoints.min.js"></script>
<script src="../assets/js/jquery.countup.min.js"></script>
<script src="../assets/js/masonry.min.js"></script>
<script src="../assets/js/jquery.sticky.js"></script>
<script src="../assets/js/jquery.malihu.PageScroll2id.min.js"></script>
<script src="../assets/js/fabrx-scripts.js"></script>
</body>
</html>